/*                          *
*      LUDUS  ACADEMIE      *
*    OWNER : DRUCKES Lucas  *
*      WEACT     2020       *
*   CSS FILE FOR  LOGIN.PHP *
*          YAPADKASS        *
*                           */

@font-face {
  font-family: "Archival";
  src: url("SF_Arch_Rival-webfont.woff") format("woff");
}

body{
  margin: 0;
  padding: 0;
  font-family: monospace, Arial;
  background-color: #455A64;
}
header{
  background: none;
}
footer{
  position: absolute;
  top: 93%;
  color: white;
}
footer a{
  text-decoration: underline;
}
footer a:link{
  color: inherit;
  text-decoration: underline;
}
footer a:visited
{
  color: inherit;
  text-decoration: underline;
}
.login-container{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #BDBDBD;
  background-color: #EEEEEE11;
  padding: 50px 300px 50px 300px;
  border: 2px solid black;
  border-radius: 20px;
}
.login-container h1:first-child{
  float: left;
  font-size: 40px;
  border-bottom: 7px solid #BDBDBD;
  margin-bottom: 30px;
  padding: 5px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #BDBDBD;
}
.textbox .i-icon{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white; /* Color of the text inside of the text input */
  font-size: 18px;
  width: 80%;
  float: left;

  font-weight: bolder;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  outline: none;
  border: 2px solid #17c0eb;
  color: white;
  padding: 5px;
  font-size: 24px;
  cursor: pointer;
  margin: 12px 0;
  font-weight: bold;
  border-radius: 10px;
}
.btn:hover{
  border-color: cyan;
}
