/*                          *
*      LUDUS  ACADEMIE      *
*    OWNER : DRUCKES Lucas  *
*      WEACT     2020       *
*   CSS FILE FOR  INDEX.PHP *
*          YAPADKASS        *
*                           */

body
{
  color: gold;
  background-color: black;
  font-size: 50px;
}
